<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./lib/bootstrap.css">
</head>
<body>
    <div id="app">
        <!-- 内容是过滤器返回值 -->
        <p>{{ message | capi }}</p>
        <input type="text" v-model="username">
        <input type="text" v-model="info.username">
    </div>
    <script src="./lib/vue-2.6.12.js"></script>
    <script>
        // 全局过滤器
        Vue.filter('acc',function(str){
            const first1 = str.charAt(0).toUpperCase();
            const last2 = str.substr(1);
            return first1 + last2 + '--';
        });
        const vm = new Vue({
            el: '#app',
            data: {
                message: 'hello',
                username: 'xiaojie',
                info: {username: 'xiaojie22'},
            },
            // 过滤器函数
            filters: {
                // val永远都是管道符前面的值
                capi(val){
                    // 一定有返回值 
                    // 需求  把第一个字符变为大写
                    const first = val.charAt(0).toUpperCase();
                    const last = val.substr(1);
                    return first + last;
                },
            },
            // 侦听器
            watch: {
                // 侦听器本质上是一个函数，要监视哪个数据的变化，就把数据名作为方法名即可 第一个参数是新值，第二个是旧值
                // 方法格式
                // username(newVal,oldVal){
                //     console.log(newVal,oldVal);
                // }
                
                // 定义对象格式侦听器
                username: {
                    // 侦听器的处理函数
                    handler(newVal,oldVal){
                        console.log(newVal,oldVal);
                    },
                    // 默认值是false , 控制侦听器是否开始自动触发一次
                    immediate: true,
                },
                // 监听info对象
                info:{
                    // 侦听器的处理函数
                    handler(newVal){
                        console.log(newVal);
                    },
                    // 开启深度监听,只要对象中的任何一个属性变化了，都会触发
                    deep: true,
                },
                // 监听info对象里面的usename属性
                // 监听对象子属性变化，必须要用一层单引号 
                'info.username'(newVal,oldVal){
                    console.log(newVal,oldVal);
                },

            },
        });

        
        
    </script>
</body>
</html>